## 1. Import Libraries

### Purpose:
Import essential Python libraries for data manipulation, numerical operations, and file system management.

### Libraries Used:
- **pandas**: Data manipulation and CSV operations
- **numpy**: Numerical operations and NaN handling
- **os**: File path management
- **re**: Regular expressions for text cleaning (if needed)

In [43]:
import pandas as pd
import numpy as np
import os
import re

## 2. Load Raw Data

### Purpose:
Load the unprocessed customer churn dataset from CSV file.

### What to Expect:
- Raw data with various quality issues
- Multiple columns with customer information
- Potential duplicates, missing values, and formatting problems

In [44]:
# Load the raw customer churn dataset
input_file = '../data/customer_churn_raw.csv'
df_raw = pd.read_csv(input_file)

print(f"‚úì Loaded {len(df_raw)} records from: {input_file}")
print(f"\nDataset shape: {df_raw.shape}")
print(f"Columns: {list(df_raw.columns)}")

‚úì Loaded 106 records from: ../data/customer_churn_raw.csv

Dataset shape: (106, 21)
Columns: ['customer_id', 'age', 'gender', 'tenure_months', 'subscription_plan', 'monthly_charges', 'total_charges', 'contract_type', 'payment_method', 'login_frequency_monthly', 'features_used', 'data_consumption_gb', 'engagement_score', 'days_since_last_activity', 'billing_issues_count', 'plan_changes', 'support_tickets', 'avg_resolution_hours', 'satisfaction_score', 'nps_score', 'churned']

### Interpretation:
- **Records**: Total number of customer entries in raw dataset
- **Shape**: (rows, columns) showing dataset dimensions
- **Columns**: List of all features in the dataset

## 3. Initial Data Quality Report

### Purpose:
Generate a comprehensive report of data quality issues before cleaning.

### What We're Checking:
- **Missing Values**: Count and percentage of nulls per column
- **Duplicates**: Duplicate rows and customer IDs
- **Data Types**: Current type of each column
- **Basic Statistics**: Preview of the data

In [45]:
print("="*70)
print("INITIAL DATA QUALITY REPORT")
print("="*70)

print(f"\nüìä Dataset Overview:")
print(f"  Total Records: {len(df_raw)}")
print(f"  Total Columns: {len(df_raw.columns)}")

print(f"\n‚ùå Missing Values:")
missing = df_raw.isnull().sum()
missing_pct = (missing / len(df_raw) * 100).round(2)
for col in missing[missing > 0].index:
    print(f"  - {col}: {missing[col]} ({missing_pct[col]}%)")
total_missing = df_raw.isnull().sum().sum()
print(f"  üìç Total missing values: {total_missing}")

print(f"\nüîÑ Duplicates:")
print(f"  - Duplicate rows (all columns): {df_raw.duplicated().sum()}")
print(f"  - Duplicate customer_ids: {df_raw['customer_id'].duplicated().sum()}")

print(f"\nüìã Data Types:")
for col, dtype in df_raw.dtypes.items():
    print(f"  - {col}: {dtype}")

print("\n" + "="*70)

# Display first few rows
print("\nüìÑ Sample Data (first 5 rows):")
df_raw.head()

======================================================================
INITIAL DATA QUALITY REPORT
======================================================================

üìä Dataset Overview:
  Total Records: 106
  Total Columns: 21

‚ùå Missing Values:
  - age: 11 (10.38%)
  - gender: 12 (11.32%)
  - subscription_plan: 11 (10.38%)
  - monthly_charges: 14 (13.21%)
  - total_charges: 15 (14.15%)
  - payment_method: 7 (6.6%)
  - login_frequency_monthly: 9 (8.49%)
  - data_consumption_gb: 9 (8.49%)
  - engagement_score: 9 (8.49%)
  - satisfaction_score: 9 (8.49%)
  üìç Total missing values: 106

üîÑ Duplicates:
  - Duplicate rows (all columns): 2
  - Duplicate customer_ids: 6

üìã Data Types:
  - customer_id: object
  - age: float64
  - gender: object
  - tenure_months: int64
  - subscription_plan: object
  - monthly_charges: object
  - total_charges: float64
  - contract_type: object
  - payment_method: object
  - login_frequency_monthly: float64
  - features_used: int64
  - data_consumption_gb: float64
  - engagement_score: float64
  - days_since_last_activity: int64
  - billing_issues_count: int64
  - plan_changes: int64
  - support_tickets: int64
  - avg_resolution_hours: float64
  - satisfaction_score: float64
  - nps_score: int64
  - churned: int64

======================================================================

üìÑ Sample Data (first 5 rows):

,customer_id,age,gender,tenure_months,subscription_plan,monthly_charges,total_charges,contract_type,payment_method,login_frequency_monthly,...,data_consumption_gb,engagement_score,days_since_last_activity,billing_issues_count,plan_changes,support_tickets,avg_resolution_hours,satisfaction_score,nps_score,churned
0,C001,34.0,Male,24,Premium,79.99,1919.76,Annual,Credit Card,22.0,...,45.2,150.0,2,0,1,1,4.5,4.2,8,0
1,C002,45.0,Female,6,Basic,29.99,179.94,Monthly,Bank transfer,5.0,...,8.3,25.0,15,2,0,4,48.2,2.1,3,1
2,C003,28.0,Male,36,Premium,79.99,2879.64,Annual,Credit Card,28.0,...,62.1,92.0,1,0,2,0,0.0,4.8,9,0
3,C004,52.0,F,3,Basic,29.99,89.97,Monthly,credit card,3.0,...,4.2,18.0,22,1,0,3,36.5,2.5,2,1
4,C005,31.0,Male,-10,Standard,49.99,899.82,Monthly,Pay Pal,15.0,...,28.4,65.0,5,0,0,2,12.3,3.8,7,0

### Interpretation:
- **High missing percentages**: Columns needing attention
- **Duplicate records**: Must be removed to avoid bias
- **Object types for numbers**: Indicate formatting issues (e.g., $ symbols)

## 4. Step 1: Remove Duplicates

### Purpose:
Identify and remove duplicate customer records to ensure each customer appears only once.

### Strategy:
- Clean `customer_id` field (remove whitespace)
- Identify duplicate customer IDs
- Keep first occurrence, remove subsequent duplicates
- This prevents the same customer from being counted multiple times in analysis

### Why This Matters:
Duplicate records can:
- Skew statistical analysis
- Create bias in machine learning models
- Lead to incorrect business metrics

In [46]:
print("\n" + "="*70)
print("STEP 1: REMOVING DUPLICATES")
print("="*70)

# Store initial count
initial_count = len(df_raw)

# Make a copy to avoid SettingWithCopyWarning
df_clean = df_raw.copy()

# Clean customer_id first (remove whitespace)
df_clean['customer_id'] = df_clean['customer_id'].astype(str).str.strip()

# Identify duplicates
duplicates = df_clean[df_clean['customer_id'].duplicated(keep=False)]
if len(duplicates) > 0:
    print(f"\nüîç Found {df_clean['customer_id'].duplicated().sum()} duplicate customer_ids:")
    print(f"   Duplicate IDs: {sorted(duplicates['customer_id'].unique())}")
    print(f"\n   Sample duplicate records:")
    display(duplicates.head(10))

# Remove duplicates, keeping first occurrence
df_clean = df_clean.drop_duplicates(subset=['customer_id'], keep='first').copy()


removed_count = initial_count - len(df_clean)
print(f"  Records remaining: {len(df_clean)}")
print(f"\n‚úì Removed {removed_count} duplicate records")

======================================================================
STEP 1: REMOVING DUPLICATES
======================================================================

üîç Found 6 duplicate customer_ids:
   Duplicate IDs: ['C007', 'C030', 'C035', 'C048', 'C065', 'C096']

   Sample duplicate records:

,customer_id,age,gender,tenure_months,subscription_plan,monthly_charges,total_charges,contract_type,payment_method,login_frequency_monthly,...,data_consumption_gb,engagement_score,days_since_last_activity,billing_issues_count,plan_changes,support_tickets,avg_resolution_hours,satisfaction_score,nps_score,churned
6,C007,23.0,NaN,2,Basic,$29.99,59.98,Monthly,Credit Card,2.0,...,NaN,12.0,28,1,0,5,52.1,1.8,1,1
29,C030,36.0,Male,3,Standard,49.99,149.97,Monthly,Credit Card,NaN,...,7.2,20.0,23,2,0,5,48.9,NaN,2,1
34,C035,48.0,Female,22,Premium,NaN,1759.78,Annual,Credit Card,21.0,...,44.8,77.0,2,0,0,1,7.2,-1.0,8,0
47,C048,25.0,Male,4,NaN,29.99,119.96,Monthly,Credit Card,3.0,...,4.5,18.0,21,2,0,5,47.8,2.0,2,1
64,C065,NaN,Female,60,Premium,79.99,4799.40,Annual,Bank Transfer,19.0,...,42.1,76.0,2,0,2,2,7.8,4.3,8,0
95,C096,38.0,NaN,10,Premium,79.99,799.90,Monthly,NaN,11.0,...,24.6,52.0,10,1,0,2,18.9,3.4,6,0
100,C035,48.0,Female,22,Premium,NaN,1759.78,Annual,Credit Card,21.0,...,44.8,77.0,2,0,0,1,7.2,4.3,8,0
101,C030,36.0,Male,3,standard,49.99,149.97,Monthly,Credit Card,NaN,...,7.2,20.0,23,2,0,5,48.9,NaN,2,1
102,C096,38.0,NaN,10,Premium,79.99,799.90,Monthly,NaN,11.0,...,24.6,52.0,10,1,0,2,18.9,3.4,6,0
103,C065,NaN,Female,60,Premium,79.99,4799.40,Annual,Bank Transfer,19.0,...,42.1,76.0,2,0,2,2,7.8,4.3,8,0

  Records remaining: 100

‚úì Removed 6 duplicate records

### Interpretation:
- **Duplicate IDs shown**: Specific customer IDs that appeared multiple times
- **Records removed**: How many duplicate entries were eliminated
- **Keep='first'**: Retained the first occurrence of each duplicate

## 5. Step 2: Clean Categorical Variables

### Purpose:
Standardize categorical variables to ensure consistency across the dataset.

### Issues to Fix:
- **Gender**: "M" ‚Üí "Male", "F" ‚Üí "Female"
- **Payment Method**: "CreditCard" ‚Üí "Credit Card", "Cc" ‚Üí "Credit Card"
- **Subscription Plan**: "Premium+" ‚Üí "Premium", "Basicc" ‚Üí "Basic"
- **Contract Type**: Ensure title case consistency

### Why This Matters:
Inconsistent categorical values create separate categories that should be the same:
- "Male" and "M" would be treated as different in analysis
- Leads to incorrect counts and poor model performance

In [47]:
print("\n" + "="*70)
print("STEP 2: CLEANING CATEGORICAL VARIABLES")
print("="*70)

# Gender standardization
print("\nüîß Cleaning 'gender'...")
if 'gender' in df_clean.columns:
    print(f"   Before: {df_clean['gender'].value_counts().to_dict()}")
    
    # Strip whitespace and title case
    df_clean.loc[:, 'gender'] = df_clean['gender'].astype(str).str.strip().str.title()
    
    # Map variations
    gender_map = {
        'M': 'Male',
        'F': 'Female',
        'Nan': np.nan
    }
    df_clean.loc[:, 'gender'] = df_clean['gender'].replace(gender_map)
    
    print(f"   After: {df_clean['gender'].value_counts().to_dict()}")
    print(f"   ‚úì Standardized gender values")

# Payment method standardization
print("\nüîß Cleaning 'payment_method'...")
if 'payment_method' in df_clean.columns:
    print(f"   Before: {df_clean['payment_method'].value_counts().to_dict()}")
    
    # Strip whitespace and normalize
    df_clean.loc[:, 'payment_method'] = df_clean['payment_method'].astype(str).str.strip()
    df_clean.loc[:, 'payment_method'] = df_clean['payment_method'].str.replace(r'\s+', ' ', regex=True)
    df_clean.loc[:, 'payment_method'] = df_clean['payment_method'].str.title()
    
    # Map variations
    payment_map = {
        'Creditcard': 'Credit Card',
        'Cc': 'Credit Card',
        'Banktransfer': 'Bank Transfer',
        'Bt': 'Bank Transfer',
        'Paypal': 'PayPal',
        'Pay Pal': 'PayPal',
        'Nan': np.nan
    }
    df_clean.loc[:, 'payment_method'] = df_clean['payment_method'].replace(payment_map)
    
    print(f"   After: {df_clean['payment_method'].value_counts().to_dict()}")
    print(f"   ‚úì Standardized payment_method values")

# Subscription plan standardization
print("\nüîß Cleaning 'subscription_plan'...")
if 'subscription_plan' in df_clean.columns:
    print(f"   Before: {df_clean['subscription_plan'].value_counts().to_dict()}")
    
    # Strip whitespace and title case
    df_clean.loc[:, 'subscription_plan'] = df_clean['subscription_plan'].astype(str).str.strip().str.title()
    
    # Map variations and fix typos
    plan_map = {
        'Premium+': 'Premium',
        'Basicc': 'Basic',
        'Std': 'Standard',
        'Nan': np.nan
    }
    df_clean.loc[:, 'subscription_plan'] = df_clean['subscription_plan'].replace(plan_map)
    
    print(f"   After: {df_clean['subscription_plan'].value_counts().to_dict()}")
    print(f"   ‚úì Standardized subscription_plan values")

# Contract type standardization
print("\nüîß Cleaning 'contract_type'...")
if 'contract_type' in df_clean.columns:
    print(f"   Before: {df_clean['contract_type'].value_counts().to_dict()}")
    
    df_clean.loc[:, 'contract_type'] = df_clean['contract_type'].astype(str).str.strip().str.title()
    
    print(f"   After: {df_clean['contract_type'].value_counts().to_dict()}")
    print(f"   ‚úì Standardized contract_type values")

print("\n‚úì All categorical variables cleaned")

======================================================================
STEP 2: CLEANING CATEGORICAL VARIABLES
======================================================================

üîß Cleaning 'gender'...
   Before: {'Female': 42, 'Male': 40, 'F': 1, 'male': 1, 'female': 1, ' Male': 1, 'FEMALE': 1, 'M': 1, 'Male ': 1, 'MALE': 1}
   After: {'Male': 45, 'Female': 45}
   ‚úì Standardized gender values

üîß Cleaning 'payment_method'...
   Before: {'Credit Card': 44, 'Bank Transfer': 21, 'PayPal': 16, 'Bank transfer': 1, 'credit card': 1, 'Pay Pal': 1, 'CC': 1, 'BT': 1, 'BankTransfer': 1, 'Credit  Card': 1, 'CreditCard': 1, 'bank transfer': 1, 'Paypal': 1, 'PAYPAL': 1, 'paypal': 1, 'Credit card': 1}
   After: {'Credit Card': 49, 'Bank Transfer': 25, 'PayPal': 20}
   ‚úì Standardized payment_method values

üîß Cleaning 'subscription_plan'...
   Before: {'Premium': 34, 'Standard': 27, 'Basic': 18, 'PREMIUM': 1, 'basic': 1, 'BASIC': 1, 'Premium+': 1, 'Basicc': 1, 'Std': 1, 'Standard ': 1, 'STANDARD': 1, 'Basic ': 1, 'Premium ': 1, 'premium': 1}
   After: {'Premium': 38, 'Standard': 30, 'Basic': 22}
   ‚úì Standardized subscription_plan values

üîß Cleaning 'contract_type'...
   Before: {'Monthly': 52, 'Annual': 48}
   After: {'Monthly': 52, 'Annual': 48}
   ‚úì Standardized contract_type values

‚úì All categorical variables cleaned

### Interpretation:
- **Before/After counts**: Shows how values were consolidated
- **Mapping applied**: Specific transformations performed
- **Standardization**: All values now consistent and properly formatted

## 6. Step 3: Correct Data Types

### Purpose:
Convert columns to appropriate data types BEFORE handling missing values.

### Critical Order:
This step MUST happen before missing value imputation because:
- Can't calculate median on strings like "$50.00"
- Numeric operations require numeric types
- Currency symbols must be removed first

### Conversions:
- **Monetary columns**: Remove "$" and convert to float
- **Numeric columns**: Convert strings to numbers
- **String columns**: Ensure proper string type and strip whitespace

In [48]:
print("\n" + "="*70)
print("STEP 3: CORRECTING DATA TYPES")
print("="*70)

# Remove currency symbols and convert monetary columns first
print("\nüí∞ Fixing monetary columns...")
if 'monthly_charges' in df_clean.columns:
    print(f"   'monthly_charges' before: {df_clean['monthly_charges'].dtype}")
    print(f"   Sample values: {df_clean['monthly_charges'].head(3).tolist()}")
    
    df_clean.loc[:, 'monthly_charges'] = df_clean['monthly_charges'].astype(str).str.replace('$', '', regex=False)
    df_clean.loc[:, 'monthly_charges'] = pd.to_numeric(df_clean['monthly_charges'], errors='coerce')
    
    print(f"   'monthly_charges' after: {df_clean['monthly_charges'].dtype}")
    print(f"   Sample values: {df_clean['monthly_charges'].head(3).tolist()}")
    print(f"   ‚úì Converted to float (removed $ symbols)")

if 'total_charges' in df_clean.columns:
    print(f"\n   'total_charges' before: {df_clean['total_charges'].dtype}")
    df_clean.loc[:, 'total_charges'] = pd.to_numeric(df_clean['total_charges'], errors='coerce')
    print(f"   'total_charges' after: {df_clean['total_charges'].dtype}")
    print(f"   ‚úì Converted to float")

# Convert other numerical columns
numerical_cols_to_convert = ['age', 'tenure_months', 'login_frequency_monthly', 'features_used',
                              'data_consumption_gb', 'engagement_score', 'days_since_last_activity',
                              'billing_issues_count', 'plan_changes', 'support_tickets',
                              'avg_resolution_hours', 'satisfaction_score', 'nps_score']

print(f"\nüî¢ Converting numerical columns to numeric types...")
converted_count = 0
for col in numerical_cols_to_convert:
    if col in df_clean.columns:
        df_clean.loc[:, col] = pd.to_numeric(df_clean[col], errors='coerce')
        converted_count += 1

print(f"   ‚úì Converted {converted_count} columns to numeric")

# Clean string columns
string_columns = ['customer_id', 'gender', 'subscription_plan', 'contract_type', 'payment_method']

print(f"\nüìù Cleaning string columns...")
cleaned_count = 0
for col in string_columns:
    if col in df_clean.columns:
        df_clean.loc[:, col] = df_clean[col].astype(str).str.strip()
        cleaned_count += 1

print(f"   ‚úì Cleaned {cleaned_count} string columns")

print("\n‚úì Data types corrected")

======================================================================
STEP 3: CORRECTING DATA TYPES
======================================================================

üí∞ Fixing monetary columns...
   'monthly_charges' before: object
   Sample values: ['79.99', '29.99', '79.99']
   'monthly_charges' after: object
   Sample values: [79.99, 29.99, 79.99]
   ‚úì Converted to float (removed $ symbols)

   'total_charges' before: float64
   'total_charges' after: float64
   ‚úì Converted to float

üî¢ Converting numerical columns to numeric types...
   ‚úì Converted 13 columns to numeric

üìù Cleaning string columns...
   ‚úì Cleaned 5 string columns

‚úì Data types corrected

### Interpretation:
- **Before/After types**: Shows transformation from object to numeric
- **Sample values**: Demonstrates removal of formatting characters
- **Errors='coerce'**: Invalid values converted to NaN (will be handled next)

## 7. Step 4: Handle Missing Values

### Purpose:
Fill missing values using appropriate statistical methods.

### Strategy:
- **Numerical columns**: Fill with median (robust to outliers)
- **Categorical columns**: Fill with mode (most frequent value)

### Why Median vs Mean:
- Median is less affected by extreme outliers
- Better represents "typical" value in skewed distributions
- More robust for customer behavior data

### Columns Handled:
- **Numerical**: age, tenure, charges, scores, usage metrics
- **Categorical**: gender, subscription plan, contract type, payment method

In [49]:
print("\n" + "="*70)
print("STEP 4: HANDLING MISSING VALUES")
print("="*70)

# Show missing values before
print(f"\nüìä Missing values before:")
missing_before = df_clean.isnull().sum()
for col in missing_before[missing_before > 0].index:
    print(f"   {col}: {missing_before[col]}")

# Numerical columns - fill with median
numerical_cols = ['age', 'tenure_months', 'monthly_charges', 'total_charges', 
                  'login_frequency_monthly', 'features_used', 'data_consumption_gb',
                  'engagement_score', 'days_since_last_activity', 'billing_issues_count',
                  'plan_changes', 'support_tickets', 'avg_resolution_hours',
                  'satisfaction_score', 'nps_score']

print(f"\nüî¢ Filling numerical columns with median:")
for col in numerical_cols:
    if col in df_clean.columns:
        missing_count = df_clean[col].isnull().sum()
        if missing_count > 0:
            median_value = df_clean[col].median()
            df_clean[col] = df_clean[col].fillna(median_value)
            print(f"   ‚úì {col}: filled {missing_count} values with median ({median_value:.2f})")

# Categorical columns - fill with mode
categorical_cols = ['gender', 'subscription_plan', 'contract_type', 'payment_method']

print(f"\nüìù Filling categorical columns with mode:")
for col in categorical_cols:
    if col in df_clean.columns:
        missing_count = df_clean[col].isnull().sum()
        if missing_count > 0:
            mode_value = df_clean[col].mode()[0] if len(df_clean[col].mode()) > 0 else 'Unknown'
            df_clean[col] = df_clean[col].fillna(mode_value)
            print(f"   ‚úì {col}: filled {missing_count} values with mode ('{mode_value}')")

# Verify no missing values remain
remaining_missing = df_clean.isnull().sum().sum()
print(f"\n‚úì Remaining missing values: {remaining_missing}")

if remaining_missing == 0:
    print("   üéâ All missing values handled!")

======================================================================
STEP 4: HANDLING MISSING VALUES
======================================================================

üìä Missing values before:
   age: 10
   monthly_charges: 13
   total_charges: 15
   login_frequency_monthly: 8
   data_consumption_gb: 8
   engagement_score: 9
   satisfaction_score: 8

üî¢ Filling numerical columns with median:
   ‚úì age: filled 10 values with median (38.00)
   ‚úì monthly_charges: filled 13 values with median (49.99)
   ‚úì total_charges: filled 15 values with median (899.82)
   ‚úì login_frequency_monthly: filled 8 values with median (14.00)
   ‚úì data_consumption_gb: filled 8 values with median (28.40)
   ‚úì engagement_score: filled 9 values with median (58.00)
   ‚úì satisfaction_score: filled 8 values with median (3.75)

üìù Filling categorical columns with mode:

‚úì Remaining missing values: 0
   üéâ All missing values handled!

/var/folders/7z/dbyd2p2x4hbc3qmgcdlk0b780000gp/T/ipykernel_69404/3778812629.py:24: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df_clean[col] = df_clean[col].fillna(median_value)

### Interpretation:
- **Before counts**: Original missing value counts per column
- **Median/Mode values**: Actual values used for imputation
- **After verification**: Confirms all missing values are filled

## 8. Step 5: Fix Outliers and Validate Ranges

### Purpose:
Identify and correct values that are outside acceptable ranges or are clearly erroneous.

### Range Validations:
- **Age**: 18-100 (clip extreme values)
- **Tenure**: ‚â• 1 month (minimum)
- **Monthly Charges**: > 0 (must be positive)
- **Total Charges**: > 0 (recalculate if invalid)
- **Engagement Score**: 0-100
- **Satisfaction Score**: 1-5
- **NPS Score**: 0-10

### Techniques:
- **Clipping**: Force values into valid range
- **Recalculation**: Compute from other fields (total = monthly √ó tenure)
- **Median replacement**: For invalid positive values

In [50]:
print("\n" + "="*70)
print("STEP 5: FIXING OUTLIERS AND VALIDATING RANGES")
print("="*70)

# Age: clip to 18-100
print("\nüë§ Validating 'age' (range: 18-100)...")
if 'age' in df_clean.columns:
    outliers = ((df_clean['age'] < 18) | (df_clean['age'] > 100)).sum()
    print(f"   Outliers found: {outliers}")
    if outliers > 0:
        print(f"   Sample outliers: {df_clean[(df_clean['age'] < 18) | (df_clean['age'] > 100)]['age'].head().tolist()}")
    df_clean.loc[:, 'age'] = df_clean['age'].clip(18, 100)
    print(f"   ‚úì Fixed {outliers} outliers")

# Tenure: must be >= 1
print("\nüìÖ Validating 'tenure_months' (minimum: 1)...")
if 'tenure_months' in df_clean.columns:
    outliers = (df_clean['tenure_months'] < 1).sum()
    print(f"   Outliers found: {outliers}")
    df_clean.loc[:, 'tenure_months'] = df_clean['tenure_months'].clip(lower=1)
    print(f"   ‚úì Fixed {outliers} outliers")

# Monthly charges: must be positive
print("\nüí∞ Validating 'monthly_charges' (must be positive)...")
if 'monthly_charges' in df_clean.columns:
    outliers = (df_clean['monthly_charges'] <= 0).sum()
    print(f"   Outliers found: {outliers}")
    if outliers > 0:
        median_val = df_clean[df_clean['monthly_charges'] > 0]['monthly_charges'].median()
        df_clean.loc[df_clean['monthly_charges'] <= 0, 'monthly_charges'] = median_val
        print(f"   ‚úì Fixed {outliers} outliers (replaced with median: ${median_val:.2f})")

# Total charges: must be positive
print("\nüí≥ Validating 'total_charges' (must be positive)...")
if 'total_charges' in df_clean.columns:
    outliers = (df_clean['total_charges'] <= 0).sum()
    print(f"   Outliers found: {outliers}")
    if outliers > 0:
        # Calculate from monthly_charges * tenure_months if invalid
        mask = df_clean['total_charges'] <= 0
        df_clean.loc[mask, 'total_charges'] = (
            df_clean.loc[mask, 'monthly_charges'] * df_clean.loc[mask, 'tenure_months']
        )
        print(f"   ‚úì Fixed {outliers} outliers (recalculated from monthly_charges √ó tenure)")

# Engagement score: 0-100
print("\nüìà Validating 'engagement_score' (range: 0-100)...")
if 'engagement_score' in df_clean.columns:
    outliers = ((df_clean['engagement_score'] < 0) | (df_clean['engagement_score'] > 100)).sum()
    print(f"   Outliers found: {outliers}")
    df_clean.loc[:, 'engagement_score'] = df_clean['engagement_score'].clip(0, 100)
    print(f"   ‚úì Fixed {outliers} outliers")

# Satisfaction score: 1-5
print("\n‚≠ê Validating 'satisfaction_score' (range: 1-5)...")
if 'satisfaction_score' in df_clean.columns:
    outliers = ((df_clean['satisfaction_score'] < 1) | (df_clean['satisfaction_score'] > 5)).sum()
    print(f"   Outliers found: {outliers}")
    df_clean.loc[:, 'satisfaction_score'] = df_clean['satisfaction_score'].clip(1, 5)
    print(f"   ‚úì Fixed {outliers} outliers")

# NPS score: 0-10
print("\nüìä Validating 'nps_score' (range: 0-10)...")
if 'nps_score' in df_clean.columns:
    outliers = ((df_clean['nps_score'] < 0) | (df_clean['nps_score'] > 10)).sum()
    print(f"   Outliers found: {outliers}")
    df_clean.loc[:, 'nps_score'] = df_clean['nps_score'].clip(0, 10)
    print(f"   ‚úì Fixed {outliers} outliers")

print("\n‚úì All outliers fixed and ranges validated")

======================================================================
STEP 5: FIXING OUTLIERS AND VALIDATING RANGES
======================================================================

üë§ Validating 'age' (range: 18-100)...
   Outliers found: 3
   Sample outliers: [150.0, 999.0, -5.0]
   ‚úì Fixed 3 outliers

üìÖ Validating 'tenure_months' (minimum: 1)...
   Outliers found: 2
   ‚úì Fixed 2 outliers

üí∞ Validating 'monthly_charges' (must be positive)...
   Outliers found: 1
   ‚úì Fixed 1 outliers (replaced with median: $49.99)

üí≥ Validating 'total_charges' (must be positive)...
   Outliers found: 0

üìà Validating 'engagement_score' (range: 0-100)...
   Outliers found: 3
   ‚úì Fixed 3 outliers

‚≠ê Validating 'satisfaction_score' (range: 1-5)...
   Outliers found: 2
   ‚úì Fixed 2 outliers

üìä Validating 'nps_score' (range: 0-10)...
   Outliers found: 0
   ‚úì Fixed 0 outliers

‚úì All outliers fixed and ranges validated

### Interpretation:
- **Outliers found**: Count of values outside valid range
- **Sample outliers**: Shows actual invalid values
- **Fix method**: Specific technique used (clip, replace, recalculate)

## 9. Step 6: Finalize Data Types

### Purpose:
Convert columns to their final data types after all cleaning operations are complete.

### Final Type Conversions:
- **Integer columns**: age, tenure, counts, binary flags
- **Float columns**: charges, scores, averages

### Why Now:
- Missing values are now filled (can safely convert to int)
- Outliers are fixed (values are in valid ranges)
- Data is ready for final type enforcement

In [51]:
print("\n" + "="*70)
print("STEP 6: FINALIZING DATA TYPES")
print("="*70)

# Ensure integer columns (after missing values are filled)
int_columns = ['age', 'tenure_months', 'login_frequency_monthly', 'features_used',
               'days_since_last_activity', 'billing_issues_count', 'plan_changes',
               'support_tickets', 'churned']

print("\nüî¢ Finalizing integer columns...")
for col in int_columns:
    if col in df_clean.columns:
        df_clean.loc[:, col] = df_clean[col].fillna(0).astype(int)
        print(f"   ‚úì {col}: int")

# Ensure float columns
float_columns = ['monthly_charges', 'total_charges', 'data_consumption_gb',
                 'engagement_score', 'avg_resolution_hours', 'satisfaction_score',
                 'nps_score']

print("\nüìä Finalizing float columns...")
for col in float_columns:
    if col in df_clean.columns:
        df_clean.loc[:, col] = df_clean[col].astype(float)
        print(f"   ‚úì {col}: float")

print("\n‚úì Data types finalized")

# Display final data types
print("\nüìã Final Data Types:")
for col, dtype in df_clean.dtypes.items():
    print(f"   {col}: {dtype}")

======================================================================
STEP 6: FINALIZING DATA TYPES
======================================================================

üî¢ Finalizing integer columns...
   ‚úì age: int
   ‚úì tenure_months: int
   ‚úì login_frequency_monthly: int
   ‚úì features_used: int
   ‚úì days_since_last_activity: int
   ‚úì billing_issues_count: int
   ‚úì plan_changes: int
   ‚úì support_tickets: int
   ‚úì churned: int

üìä Finalizing float columns...
   ‚úì monthly_charges: float
   ‚úì total_charges: float
   ‚úì data_consumption_gb: float
   ‚úì engagement_score: float
   ‚úì avg_resolution_hours: float
   ‚úì satisfaction_score: float
   ‚úì nps_score: float

‚úì Data types finalized

üìã Final Data Types:
   customer_id: object
   age: float64
   gender: object
   tenure_months: int64
   subscription_plan: object
   monthly_charges: float64
   total_charges: float64
   contract_type: object
   payment_method: object
   login_frequency_monthly: float64
   features_used: int64
   data_consumption_gb: float64
   engagement_score: float64
   days_since_last_activity: int64
   billing_issues_count: int64
   plan_changes: int64
   support_tickets: int64
   avg_resolution_hours: float64
   satisfaction_score: float64
   nps_score: int64
   churned: int64

### Interpretation:
- **Integer conversions**: Whole number columns now int type
- **Float conversions**: Decimal columns now float type
- **Memory efficiency**: Proper types reduce memory usage and improve performance

## 10. Step 7: Final Validation

### Purpose:
Perform comprehensive quality checks to ensure all cleaning operations were successful.

### Validation Checks:
1. ‚úì No missing values remain
2. ‚úì No duplicate customer IDs
3. ‚úì Age values in valid range (18-100)
4. ‚úì Engagement scores in valid range (0-100)
5. ‚úì Satisfaction scores in valid range (1-5)
6. ‚úì All charges are positive
7. ‚úì Data types are correct

### Success Criteria:
All checks must pass for data to be considered clean and ready for next steps.

In [52]:
print("\n" + "="*70)
print("STEP 7: FINAL VALIDATION")
print("="*70)

issues_found = []

# Check for missing values
missing = df_clean.isnull().sum().sum()
if missing > 0:
    issues_found.append(f"Missing values found: {missing}")
    print(f"‚ùå Missing values found: {missing}")
else:
    print("‚úì No missing values")

# Check for duplicates
duplicates = df_clean['customer_id'].duplicated().sum()
if duplicates > 0:
    issues_found.append(f"Duplicate customer_ids found: {duplicates}")
    print(f"‚ùå Duplicate customer_ids found: {duplicates}")
else:
    print("‚úì No duplicate customer IDs")

# Check value ranges
if 'age' in df_clean.columns:
    invalid_age = ((df_clean['age'] < 18) | (df_clean['age'] > 100)).sum()
    if invalid_age == 0:
        print("‚úì Age values valid (18-100)")
    else:
        issues_found.append(f"Invalid age values: {invalid_age}")
        print(f"‚ùå Invalid age values: {invalid_age}")

if 'engagement_score' in df_clean.columns:
    invalid_engagement = ((df_clean['engagement_score'] < 0) | (df_clean['engagement_score'] > 100)).sum()
    if invalid_engagement == 0:
        print("‚úì Engagement score valid (0-100)")
    else:
        issues_found.append(f"Invalid engagement scores: {invalid_engagement}")
        print(f"‚ùå Invalid engagement scores: {invalid_engagement}")

if 'satisfaction_score' in df_clean.columns:
    invalid_satisfaction = ((df_clean['satisfaction_score'] < 1) | (df_clean['satisfaction_score'] > 5)).sum()
    if invalid_satisfaction == 0:
        print("‚úì Satisfaction score valid (1-5)")
    else:
        issues_found.append(f"Invalid satisfaction scores: {invalid_satisfaction}")
        print(f"‚ùå Invalid satisfaction scores: {invalid_satisfaction}")

# Check for negative values in charges
if 'monthly_charges' in df_clean.columns:
    negative_charges = (df_clean['monthly_charges'] <= 0).sum()
    if negative_charges == 0:
        print("‚úì Monthly charges all positive")
    else:
        issues_found.append(f"Negative/zero monthly charges: {negative_charges}")
        print(f"‚ùå Negative/zero monthly charges: {negative_charges}")

if 'total_charges' in df_clean.columns:
    negative_total = (df_clean['total_charges'] <= 0).sum()
    if negative_total == 0:
        print("‚úì Total charges all positive")
    else:
        issues_found.append(f"Negative/zero total charges: {negative_total}")
        print(f"‚ùå Negative/zero total charges: {negative_total}")

# Final verdict
print("\n" + "="*70)
if len(issues_found) == 0:
    print("‚úÖ ALL VALIDATION CHECKS PASSED!")
    print("="*70)
    validation_passed = True
else:
    print("‚ö†Ô∏è ISSUES FOUND:")
    for issue in issues_found:
        print(f"   ‚ùå {issue}")
    print("="*70)
    validation_passed = False

======================================================================
STEP 7: FINAL VALIDATION
======================================================================
‚úì No missing values
‚úì No duplicate customer IDs
‚úì Age values valid (18-100)
‚úì Engagement score valid (0-100)
‚úì Satisfaction score valid (1-5)
‚úì Monthly charges all positive
‚úì Total charges all positive

======================================================================
‚úÖ ALL VALIDATION CHECKS PASSED!
======================================================================

### Interpretation:
- **Green checkmarks (‚úì)**: Validation passed
- **Red X marks (‚ùå)**: Issues still present
- **Final verdict**: Overall data quality status

## 11. Final Data Quality Report

### Purpose:
Compare initial and final data quality to show the impact of cleaning operations.

### Metrics to Compare:
- Total records (before vs after removing duplicates)
- Missing values (before vs after imputation)
- Data types (object vs numeric)
- Outliers (before vs after correction)

In [53]:
print("\n" + "="*70)
print("FINAL DATA QUALITY REPORT")
print("="*70)

print(f"\nüìä Dataset Overview:")
print(f"  Total Records: {len(df_clean)}")
print(f"  Total Columns: {len(df_clean.columns)}")

print(f"\n‚úÖ Missing Values:")
missing = df_clean.isnull().sum()
missing_pct = (missing / len(df_clean) * 100).round(2)
if missing.sum() == 0:
    print(f"  üéâ No missing values!")
else:
    for col in missing[missing > 0].index:
        print(f"  - {col}: {missing[col]} ({missing_pct[col]}%)")

print(f"\n‚úÖ Duplicates:")
print(f"  - Duplicate rows: {df_clean.duplicated().sum()}")
print(f"  - Duplicate customer_ids: {df_clean['customer_id'].duplicated().sum()}")

print(f"\nüìã Data Types:")
print(f"  Integer columns: {len([c for c in df_clean.columns if df_clean[c].dtype in ['int64', 'int32']])}")
print(f"  Float columns: {len([c for c in df_clean.columns if df_clean[c].dtype in ['float64', 'float32']])}")
print(f"  Object columns: {len([c for c in df_clean.columns if df_clean[c].dtype == 'object'])}")

print(f"\nüìä Sample Statistics:")
print(df_clean.describe())

print("\n" + "="*70)

======================================================================
FINAL DATA QUALITY REPORT
======================================================================

üìä Dataset Overview:
  Total Records: 100
  Total Columns: 21

‚úÖ Missing Values:
  üéâ No missing values!

‚úÖ Duplicates:
  - Duplicate rows: 0
  - Duplicate customer_ids: 0

üìã Data Types:
  Integer columns: 8
  Float columns: 8
  Object columns: 5

üìä Sample Statistics:
              age  tenure_months  monthly_charges  total_charges  \
count  100.000000     100.000000       100.000000     100.000000
mean    40.630000      19.400000        55.001293    1248.607400
std     14.080329      16.584647        19.982845    1173.165296
min     18.000000       1.000000         0.010000      59.980000
25%     30.750000       5.000000        49.129986     287.442500
50%     38.000000      13.500000        49.990000     899.820000
75%     48.000000      30.500000        79.990000    1824.635000
max    100.000000      60.000000        84.689099    4799.400000

       login_frequency_monthly  features_used  data_consumption_gb  \
count               100.000000     100.000000           100.000000
mean                 13.330000       4.880000            27.067000
std                   7.759068       2.861376            17.494785
min                   2.000000       1.000000             1.800000
25%                   5.000000       2.000000             9.275000
50%                  14.000000       5.000000            28.400000
75%                  20.000000       8.000000            39.700000
max                  28.000000      10.000000            62.100000

       engagement_score  days_since_last_activity  billing_issues_count  \
count        100.000000                100.000000            100.000000
mean          53.320000                 10.360000              0.740000
std           26.433786                  9.120429              0.894653
min            0.000000                  1.000000              0.000000
25%           27.750000                  2.000000              0.000000
50%           58.000000                  5.500000              0.000000
75%           76.000000                 18.000000              2.000000
max          100.000000                 30.000000              3.000000

       plan_changes  support_tickets  avg_resolution_hours  \
count    100.000000       100.000000            100.000000
mean       0.400000         2.300000             21.184000
std        0.635642         1.743675             17.814741
min        0.000000         0.000000              0.000000
25%        0.000000         1.000000              6.800000
50%        0.000000         2.000000             11.900000
75%        1.000000         4.000000             38.700000
max        2.000000         6.000000             55.200000

       satisfaction_score   nps_score     churned
count          100.000000  100.000000  100.000000
mean             3.480000    5.760000    0.440000
std              0.992599    2.693501    0.498888
min              1.000000    1.000000    0.000000
25%              2.500000    3.000000    0.000000
50%              3.750000    6.500000    0.000000
75%              4.300000    8.000000    1.000000
max              5.000000   10.000000    1.000000

======================================================================

### Interpretation:
- **Clean state**: All quality metrics should show zero issues
- **Type distribution**: Shows proper data type conversion
- **Statistics**: Summarizes cleaned data ranges and distributions

## 12. Save Cleaned Data

### Purpose:
Export the cleaned dataset to CSV for use in subsequent data pipeline steps.

### Output Files:
1. **customer_churn_cleaned.csv**: Main cleaned dataset
2. **cleaning_summary.csv**: Summary of cleaning operations

### Next Steps:
The cleaned data is now ready for:
- Feature engineering
- Exploratory data analysis
- Model training

In [54]:
# Save cleaned data
output_file = '../data/customer_churn_cleaned.csv'
df_clean.to_csv(output_file, index=False)

print(f"üíæ Saved cleaned data to: {output_file}")
print(f"   Records saved: {len(df_clean)}")
print(f"   Columns: {len(df_clean.columns)}")

# Create cleaning summary
summary = {
    'metric': [
        'Initial Records',
        'Final Records',
        'Records Removed',
        'Initial Missing Values',
        'Final Missing Values',
        'Initial Duplicates',
        'Final Duplicates',
        'Outliers Fixed'
    ],
    'value': [
        len(df_raw),
        len(df_clean),
        len(df_raw) - len(df_clean),
        df_raw.isnull().sum().sum(),
        df_clean.isnull().sum().sum(),
        df_raw['customer_id'].duplicated().sum(),
        df_clean['customer_id'].duplicated().sum(),
        'Multiple (age, charges, scores)'
    ]
}

summary_df = pd.DataFrame(summary)
summary_path = '../data/cleaning_summary.csv'
summary_df.to_csv(summary_path, index=False)

print(f"\nüìã Saved cleaning summary to: {summary_path}")

# Display summary
print("\n" + "="*70)
print("CLEANING SUMMARY")
print("="*70)
display(summary_df)

üíæ Saved cleaned data to: ../data/customer_churn_cleaned.csv
   Records saved: 100
   Columns: 21

üìã Saved cleaning summary to: ../data/cleaning_summary.csv

======================================================================
CLEANING SUMMARY
======================================================================

                   metric                            value
0         Initial Records                              106
1           Final Records                              100
2         Records Removed                                6
3  Initial Missing Values                              106
4    Final Missing Values                                0
5      Initial Duplicates                                6
6        Final Duplicates                                0
7          Outliers Fixed  Multiple (age, charges, scores)

### Interpretation:
- **Saved successfully**: Files written to data folder
- **Summary metrics**: Key statistics comparing raw vs cleaned data
- **Next step**: Proceed to feature engineering notebook (02)

## 13. Comparison: Before vs After

### Purpose:
Visual comparison of data quality improvements.

In [55]:
print("\n" + "="*70)
print("üìä BEFORE vs AFTER COMPARISON")
print("="*70)

comparison = pd.DataFrame({
    'Metric': [
        'Total Records',
        'Missing Values',
        'Duplicate Records',
        'Invalid Ages',
        'Negative Charges',
        'Data Quality Score'
    ],
    'Before Cleaning': [
        len(df_raw),
        df_raw.isnull().sum().sum(),
        df_raw['customer_id'].duplicated().sum(),
        ((df_raw['age'] < 18) | (df_raw['age'] > 100)).sum() if 'age' in df_raw.columns else 0,
        'Present',
        '‚ùå Poor'
    ],
    'After Cleaning': [
        len(df_clean),
        df_clean.isnull().sum().sum(),
        df_clean['customer_id'].duplicated().sum(),
        ((df_clean['age'] < 18) | (df_clean['age'] > 100)).sum() if 'age' in df_clean.columns else 0,
        'None',
        '‚úÖ Excellent'
    ]
})

display(comparison)

print("\nüéâ Data cleaning complete! Ready for feature engineering.")

======================================================================
üìä BEFORE vs AFTER COMPARISON
======================================================================

               Metric Before Cleaning After Cleaning
0       Total Records             106            100
1      Missing Values             106              0
2   Duplicate Records               6              0
3        Invalid Ages               3              0
4    Negative Charges         Present           None
5  Data Quality Score          ‚ùå Poor    ‚úÖ Excellent

üéâ Data cleaning complete! Ready for feature engineering.

## 14. Summary

### What We Accomplished:
‚úÖ **Removed duplicates** - Eliminated redundant customer records  
‚úÖ **Standardized categories** - Consistent categorical values across all fields  
‚úÖ **Fixed data types** - Proper numeric and string types for all columns  
‚úÖ **Imputed missing values** - Zero missing values using median/mode strategies  
‚úÖ **Corrected outliers** - All values within valid business ranges  
‚úÖ **Validated quality** - All validation checks passed  

### Data Quality Improvements:
- **From**: Raw data with quality issues
- **To**: Clean, consistent, analysis-ready dataset

### Key Takeaways:
1. **Order matters**: Data type correction must happen before missing value handling
2. **Domain knowledge**: Valid ranges based on business context (age: 18-100, etc.)
3. **Strategy selection**: Median for numeric (robust), mode for categorical
4. **Validation critical**: Always verify cleaning operations were successful

### Files Generated:
- `customer_churn_cleaned.csv` - Main cleaned dataset
- `cleaning_summary.csv` - Cleaning operation summary

### Next Steps:
Proceed to **Feature Engineering** (notebook 02) to create derived features from this clean data.